<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ошибка</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="box">
      <div class="container error__align">
        <h1 class="weather">Ошибка 400 - Bad Request</h1>
        <p class="weather">Пожалуста, введите повторно данные</p>

        <button><a class="button__text" href="/">Назад</a></button>
      </div>
    </div>
  </body>
</html>
